[MESSAGES CONTROL]
disable =
    missing-function-docstring,
    missing-module-docstring,
    missing-class-docstring,
    redefined-outer-name,
    pointless-string-statement,
    no-self-argument,
    too-few-public-methods,
    too-many-arguments,
    too-many-branches,
    invalid-name,
    import-error,
    global-variable-not-assigned,
    global-statement,
